[*.cs]

# CS8424: The EnumeratorCancellationAttribute will have no effect. The attribute is only effective on a parameter of type CancellationToken in an async-iterator method returning IAsyncEnumerable
dotnet_diagnostic.CS8424.severity = silent
